<ion-content [fullscreen]="true" class="white-background">
  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title
        ><ion-icon name="checkmark-circle-outline"></ion-icon> Informasi Alur
        Pencairan Fee</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <div class="timeline">
        <div class="entry-box">
          <h2><span class="highlight-text">Data Pendaftaran</span></h2>
          <br />
          <ion-icon slot="start" name="person" color="primary"></ion-icon>
          <div class="event">
            <div class="line"></div>
            <div class="event-details">
              <h1>
                <span class="custom-text"
                  >Pengecekan nominal fee pendaftaran</span
                >
                dapat dicek melalui menu
                <span class="custom-text-small"
                  >Data Pendaftaran.
                  <h3></h3
                ></span>
              </h1>
              <p>Pastikan terdapat jumlah fee pendaftar</p>
            </div>
          </div>
        </div>

        <div class="entry-box">
          <h2><span class="highlight-text">Konfirmasi Ke Bagian BAUM</span></h2>
          <br />
          <ion-icon slot="start" name="person" color="primary"></ion-icon>
          <div class="event">
            <div class="line"></div>
            <div class="event-details">
              <h1>
                <span class="custom-text">BAUM, </span> Silahkan anda untuk
                konfirmasi dengan menunjukan daftar data pendaftaran dengan
                status
                <span class="custom-text">
                  <br />
                  "Verifikasi Pendaftaran Ok."</span
                >
              </h1>
            </div>
          </div>
        </div>

        <div class="entry-box">
          <h2>
            <span class="highlight-text1">Proses Pencairan fee selsai</span>
          </h2>
          <br />
          <ion-icon slot="start" name="time" color="primary"></ion-icon>
          <div class="event"></div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
